html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Audiowide", sans-serif;
    background-color: black;
}

canvas {
    display: block;
}

.start-button {
    position: relative;
    transform: translate(-50%, -50%) scale(3);
}

.start-button:hover {
    transform: translate(-50%, -50%) scale(5);
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: rgb(255, 255, 255);
}